<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style></style>
	</head>
	<body>
		<div style="padding: 20px; height: auto; background-color: #eee; border: 1px solid #ccc;">
		<div style="background-color: #fff; padding: 1.6rem; display: flex; box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);">
             <span style="font-size: 30px; flex-grow: 1;">Emahd</span> <img height= "35" width= "40" src="./astroX.png" alt="">
           
        </div>
        <hr>
        <div style="background-color: #fff; margin-top: 1rem; font-family: Tahoma, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; padding: 1rem; padding-top: 5px;  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);">
            
            <div style="color: #333; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                <div style="font-style: italic; padding-bottom: 10px;" >@noreply</div>
                <div style="padding-bottom: 10px;">Hello %Display Name%,</div>
                <div>Your email confirmation code is: </div>
                    <div style="padding: 20px; font-size: 35px; letter-spacing: 3px; text-align: center; font-weight: bold; color: #333;font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;">%684532%</div>
                If you didn't ask to verify your email address you can ignore this email.
                <div style="padding: 4px 0px;">Thanks,</div>
                Your Emahd Social App team
                
                <div style="color: #777; font-size: 14px;">
                <div style="padding: 3px 0px;">from, </div>
                <div style="color: #000; padding-bottom: 3px; letter-spacing: 2px; font-weight: bold;">Emahd</div>
                   <div style="padding-bottom: 3px;"> &copy; Astroxtechnologies Inc. Lokogoma Abuja.</div>
                    <u>This message was sent to %User_Email_Address%</u>
                </div>
            </div>
            </div>
        </div>
    </div>
	
		
	</body>
</html>
